

.popup{
  
        position: absolute;
        right:0;
        left:calc(0.25*var(--tile-size));
        top:0;
        bottom:calc(0.25*var(--tile-size));
}

.inner-pop{
    width: 50%;
    min-height:12.5% ;
    background:var(--light-tile) ;
    position:absolute;
    border:8px solid var(--light-tile);
    box-shadow: 0 0 0 8px var(--dark-tile);
}