
html,body{
    margin: 0;
    padding: 0;
   
}


.App{
    text-align: center;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--bg-color);
    grid-template-columns: auto 300px;
    grid-column-gap: 35%;
  
}